@import 'bourbon/bourbon';
/* \$visual-grid: true;
\$visual-grid-color: #03ff0b;
\$visual-grid-index: front;
\$visual-grid-opacity: .1; */
@import 'neat/neat';

/* colors */

$secondary-color: #72abff;
$button-color: gray;
$button-textcolor: white;
$body-color: #CDCDCD;

/* media queries */


/* main */

$border-box-sizing: true !default;

* {
  margin: 0;
  padding: 0;
}

.calculator {
  @include outer-container;
}

.calc-body {
  @include shift(4);
  margin-top: 15%;
  width: auto;
  height: auto;
}

.top {
  /* position: relative; */
}

.output {
  /* position: relative; */
}

.keys {
  vertical-align: middle;
/*   position: relative; */
  background-color: $body-color;
  max-width: 350px;
}

button {
  margin: 15px;
  padding: 15px;
/*   position: relative; */
  background-color: $button-color;
  color: $button-textcolor;
}

/* .row1 {
  @include span-columns(3);
}

.row2 {
  @include span-columns(3);
}

.row3 {
  @include span-columns(3);
}

.row4 {
  @include span-columns(3);
}

.operator {

}
 */
