@import 'bourbon/bourbon';
/* \$visual-grid: true;
\$visual-grid-color: #03ff0b;
\$visual-grid-index: front;
\$visual-grid-opacity: .2; */
@import 'neat/neat';

/* colors */

$primary-color: #72abff;

/* media queries */

* {
  margin: 0;
  padding: 0;
}

$border-box-sizing: true !default;

.calculator {
  @include outer-container;
}

.calc-body {
  @include span-columns(6);
  @include shift(4);
  background-color: blue;
  margin-top: 15%;
}

/* .1_row {
  @include span-columns(3);
}

.2_row {
  @include span-columns(3);
}

.3_row {
  @include span-columns(3);
}

.4_row {
  @include span-columns(3);
} */
